In [4]:
import pandas as pd
import numpy as np
import os
import random
from copy import deepcopy
import math
from itertools import product
import pickle
import joblib
from tqdm import tqdm

import matplotlib.pyplot as plt
import seaborn as sb

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, confusion_matrix, ConfusionMatrixDisplay

In [5]:
idx_df=pd.read_csv('./customData/idx.csv',index_col=0)
idx_df.columns=['idx','user_id']

In [6]:
merged_df=pd.read_csv('./customData/work_target.csv',index_col=0)

In [7]:
start = 25_0000

In [8]:
result = pd.DataFrame()
for i in tqdm(range(start, start+5_0000)):
    idx=idx_df.loc[i][0]
    result= pd.concat([result, merged_df.iloc[idx:idx_df.loc[i+1][0]].fillna(method='ffill').fillna(method='bfill')])

100%|█████████████████████████████████████████████████████████████████████████████| 50000/50000 [58:56<00:00, 14.14it/s]

In [9]:
result.head()

,index,application_id,user_id,birth_year,gender,insert_time,credit_score,yearly_income,income_type,company_enter_month,...,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,loanapply_insert_time,bank_id,product_id,loan_limit,loan_rate,is_applied
10638518,2293266,1431305,692557,1988.0,1.0,2022-05-14 21:46:19,NaN,50000000.0,EARNEDINCOME,202108.0,...,NaN,NaN,NaN,NaN,2022-05-14 21:46:20,52,234,40000000.0,4.3,0.0
10638519,2293270,1431305,692557,1988.0,1.0,2022-05-14 21:46:19,NaN,50000000.0,EARNEDINCOME,202108.0,...,NaN,NaN,NaN,NaN,2022-05-14 21:46:20,10,65,50000000.0,13.9,0.0
10638520,2293273,1431305,692557,1988.0,1.0,2022-05-14 21:46:19,NaN,50000000.0,EARNEDINCOME,202108.0,...,NaN,NaN,NaN,NaN,2022-05-14 21:46:20,8,270,41000000.0,5.7,0.0
10638521,2293274,1431305,692557,1988.0,1.0,2022-05-14 21:46:19,NaN,50000000.0,EARNEDINCOME,202108.0,...,NaN,NaN,NaN,NaN,2022-05-14 21:46:20,61,92,26000000.0,11.4,0.0
10638522,2293276,1431305,692557,1988.0,1.0,2022-05-14 21:46:19,NaN,50000000.0,EARNEDINCOME,202108.0,...,NaN,NaN,NaN,NaN,2022-05-14 21:46:20,59,150,28000000.0,13.4,0.0

In [10]:
result.to_csv('./customData/result3.csv')