In [1]:
import pandas as pd
import numpy as np
import os
import random
from copy import deepcopy
import math
from itertools import product
import pickle
import joblib
from tqdm import tqdm

import matplotlib.pyplot as plt
import seaborn as sb

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, confusion_matrix, ConfusionMatrixDisplay

In [2]:
idx_df=pd.read_csv('./customData/idx.csv',index_col=0)
idx_df.columns=['idx','user_id']

In [3]:
merged_df=pd.read_csv('./customData/work_target.csv',index_col=0)

In [4]:
start = 20_0000

In [5]:
result = pd.DataFrame()
for i in tqdm(range(start, start+5_0000)):
    idx=idx_df.loc[i][0]
    result= pd.concat([result, merged_df.iloc[idx:idx_df.loc[i+1][0]].fillna(method='ffill').fillna(method='bfill')])

100%|█████████████████████████████████████████████████████████████████████████████| 50000/50000 [59:55<00:00, 13.91it/s]

In [6]:
result.head()

,index,application_id,user_id,birth_year,gender,insert_time,credit_score,yearly_income,income_type,company_enter_month,...,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,loanapply_insert_time,bank_id,product_id,loan_limit,loan_rate,is_applied
8514136,9581769,1828809,553693,1970.0,0.0,2022-06-20 12:34:21,700.0,40000000.0,EARNEDINCOME,20200701.0,...,0.0,NaN,5.0,56000000.0,2022-06-20 12:34:22,55,25,19000000.0,17.4,NaN
8514137,9581776,1828809,553693,1970.0,0.0,2022-06-20 12:34:21,700.0,40000000.0,EARNEDINCOME,20200701.0,...,0.0,NaN,5.0,56000000.0,2022-06-20 12:34:22,42,216,10000000.0,13.9,NaN
8514138,9581779,1828809,553693,1970.0,0.0,2022-06-20 12:34:21,700.0,40000000.0,EARNEDINCOME,20200701.0,...,0.0,NaN,5.0,56000000.0,2022-06-20 12:34:22,38,223,21000000.0,10.8,NaN
8514139,9581781,1828809,553693,1970.0,0.0,2022-06-20 12:34:21,700.0,40000000.0,EARNEDINCOME,20200701.0,...,0.0,NaN,5.0,56000000.0,2022-06-20 12:34:22,13,262,25000000.0,15.0,NaN
8514140,9581786,1828809,553693,1970.0,0.0,2022-06-20 12:34:21,700.0,40000000.0,EARNEDINCOME,20200701.0,...,0.0,NaN,5.0,56000000.0,2022-06-20 12:34:22,50,142,45000000.0,10.1,NaN

In [7]:
result.to_csv('./customData/result2.csv')