# 요약 정리

데이터의 특성 파악을 해보았음

* input 데이터는 각 청경채에 대한 데이터로, 시간이 겹치는 것도 있지만, 아닌 것도 있음
* 각 데이터에 있는 결측값에는 규칙이 있다.
    * 결측값인 데이터의 개수는 2 혹은 37개이다
    * 2개의 결측값이 있는 케이스의 경우 모든 항의 데이터가 모두 2개의 결측값을 가진다.
        
        => 해당 2개의 결측값은 항상 외부온도추정관측치, 외부습도추정관측치이다
* 우선 target 데이터는 결측값이 없다.

그렇다면 어떻게 학습데이터를 만들어야할까..?

# 각 케이스의 시간은?

In [1]:
import pandas as pd
import os
from tqdm import tqdm, notebook

In [3]:
for filename in tqdm(os.listdir('./train_input/')):
    df = pd.read_csv(f'./train_input/{filename}')
    if '시간' not in df.columns:
        print(filename)

100%|███████████████████████████████████████████████████████████████████████████████████| 58/58 [00:13<00:00,  4.24it/s]

In [4]:
time_list=[]
for filename in tqdm(os.listdir('./train_input/')):
    df = pd.read_csv(f'./train_input/{filename}')
    time_list+=list(df['시간'])

100%|███████████████████████████████████████████████████████████████████████████████████| 58/58 [00:10<00:00,  5.30it/s]

In [2]:
def list_to_dict(list_a):
    dict_a = {}
    for elm in list_a:
        if elm in dict_a.keys():
            dict_a[elm] += 1
        else:
            dict_a[elm] = 1
    return dict_a

In [5]:
time_dict = list_to_dict(time_list)

In [21]:
# for key, value in time_dict.items():
#     if value>1:
#         print(key, value)

# 결측값은 몇개인가

In [19]:
reuslt_dict=dict()
for filename in os.listdir('./train_input/'):
    df = pd.read_csv(f'./train_input/{filename}')
    reuslt_dict[filename]=list_to_dict([f'{v} nulls' for v in df.T.isnull().sum() if v>0])
    print(filename, reuslt_dict[filename], 'all_col_num :',df.shape[0])

CASE_01.csv {'37 nulls': 2} all_col_num : 41760
CASE_02.csv {'37 nulls': 1} all_col_num : 41760
CASE_03.csv {} all_col_num : 38880
CASE_04.csv {'37 nulls': 1} all_col_num : 41760
CASE_05.csv {} all_col_num : 41760
CASE_06.csv {'37 nulls': 1} all_col_num : 41760
CASE_07.csv {'37 nulls': 1} all_col_num : 41760
CASE_08.csv {'37 nulls': 1} all_col_num : 41760
CASE_09.csv {'37 nulls': 228} all_col_num : 67680
CASE_10.csv {} all_col_num : 60480
CASE_11.csv {} all_col_num : 57600
CASE_12.csv {} all_col_num : 47520
CASE_13.csv {} all_col_num : 47520
CASE_14.csv {'37 nulls': 8} all_col_num : 64800
CASE_15.csv {'37 nulls': 41} all_col_num : 64800
CASE_16.csv {'37 nulls': 76} all_col_num : 63360
CASE_17.csv {'37 nulls': 1} all_col_num : 36000
CASE_18.csv {'37 nulls': 2} all_col_num : 60480
CASE_19.csv {'37 nulls': 1} all_col_num : 40320
CASE_20.csv {} all_col_num : 37440
CASE_21.csv {'37 nulls': 1} all_col_num : 37440
CASE_22.csv {'37 nulls': 11} all_col_num : 37440
CASE_23.csv {'37 nulls': 1} all_col_num : 37440
CASE_24.csv {'37 nulls': 22} all_col_num : 37440
CASE_25.csv {} all_col_num : 37440
CASE_26.csv {} all_col_num : 53280
CASE_27.csv {} all_col_num : 47520
CASE_28.csv {'37 nulls': 67} all_col_num : 60480
CASE_29.csv {} all_col_num : 50400
CASE_30.csv {'37 nulls': 199} all_col_num : 47520
CASE_31.csv {} all_col_num : 56160
CASE_32.csv {} all_col_num : 38880
CASE_33.csv {} all_col_num : 40320
CASE_34.csv {} all_col_num : 40320
CASE_35.csv {'37 nulls': 134} all_col_num : 40320
CASE_36.csv {} all_col_num : 37440
CASE_37.csv {'2 nulls': 62953, '37 nulls': 407} all_col_num : 63360
CASE_38.csv {'37 nulls': 14919} all_col_num : 31680
CASE_39.csv {'2 nulls': 52676, '37 nulls': 604} all_col_num : 53280
CASE_40.csv {'37 nulls': 6580} all_col_num : 53280
CASE_41.csv {'37 nulls': 13189} all_col_num : 31680
CASE_42.csv {'37 nulls': 376} all_col_num : 31680
CASE_43.csv {'2 nulls': 23838, '37 nulls': 1429} all_col_num : 25267
CASE_44.csv {'37 nulls': 13143} all_col_num : 31680
CASE_45.csv {'37 nulls': 15874} all_col_num : 57600
CASE_46.csv {} all_col_num : 56160
CASE_47.csv {'2 nulls': 31588, '37 nulls': 4412} all_col_num : 36000
CASE_48.csv {'37 nulls': 131} all_col_num : 59040
CASE_49.csv {'2 nulls': 48675, '37 nulls': 285} all_col_num : 48960
CASE_50.csv {'2 nulls': 55858, '37 nulls': 302} all_col_num : 56160
CASE_51.csv {} all_col_num : 36000
CASE_52.csv {'37 nulls': 18} all_col_num : 38880
CASE_53.csv {'37 nulls': 2} all_col_num : 38880
CASE_54.csv {'2 nulls': 38826, '37 nulls': 54} all_col_num : 38880
CASE_55.csv {'2 nulls': 25122, '37 nulls': 798} all_col_num : 25920
CASE_56.csv {} all_col_num : 36000
CASE_57.csv {} all_col_num : 46080
CASE_58.csv {} all_col_num : 36000

In [20]:
reuslt_dict=dict()
for filename in os.listdir('./test_input/'):
    df = pd.read_csv(f'./test_input/{filename}')
    reuslt_dict[filename]=list_to_dict([f'{v} nulls' for v in df.T.isnull().sum() if v>0])
    print(filename, reuslt_dict[filename], 'all_col_num :',df.shape[0])

TEST_01.csv {'37 nulls': 1} all_col_num : 41760
TEST_02.csv {'37 nulls': 2} all_col_num : 50400
TEST_03.csv {'37 nulls': 6} all_col_num : 37440
TEST_04.csv {} all_col_num : 50400
TEST_05.csv {'2 nulls': 52729, '37 nulls': 551} all_col_num : 53280
TEST_06.csv {'37 nulls': 3643} all_col_num : 51840

# 2개의 결측값인 항목은 항상 같은 항목인가?

In [29]:
for num in [37, 39, 43, 47, 49, 50, 54, 55]:
    df = pd.read_csv(f'./train_input/CASE_{num}.csv')
    sum_df=df.isnull().sum()
    print('df num :',num)
    for col in sum_df.index:
        if sum_df[col] == df.shape[0]:
            print(col)

df num : 37
외부온도추정관측치
외부습도추정관측치
df num : 39
외부온도추정관측치
외부습도추정관측치
df num : 43
외부온도추정관측치
외부습도추정관측치
df num : 47
외부온도추정관측치
외부습도추정관측치
df num : 49
외부온도추정관측치
외부습도추정관측치
df num : 50
외부온도추정관측치
외부습도추정관측치
df num : 54
외부온도추정관측치
외부습도추정관측치
df num : 55
외부온도추정관측치
외부습도추정관측치

In [33]:
for num in [5]:
    df = pd.read_csv(f'./test_input/TEST_0{num}.csv')
    sum_df=df.isnull().sum()
    print('df num :',num)
    for col in sum_df.index:
        if sum_df[col] == df.shape[0]:
            print(col)

df num : 5
외부온도추정관측치
외부습도추정관측치

# target의 null 값

In [38]:
for filename in os.listdir('./train_target/'):
    df = pd.read_csv(f'./train_target/{filename}')
    if df['rate'].isnull().sum() > 0 :
        print(filename, df['rate'].isnull().sum())

# 모델은 어떻게 구성...?

In [49]:
pd.read_csv('./train_input/CASE_01.csv')

,시간,내부온도관측치,내부습도관측치,CO2관측치,EC관측치,외부온도관측치,외부습도관측치,펌프상태,펌프작동남은시간,최근분무량,...,카메라상태,냉방온도,난방온도,기준온도,난방부하,냉방부하,총추정광량,백색광추정광량,적색광추정광량,청색광추정광량
0,2021-02-17 00:00:00,24.799999,40.500000,361.0,0.059069,20.299999,33.200001,0.0,0.0,0.0,...,4.5,0.0,0.0,363.554,16.548,37.596000,363.554,309.41,16.548,37.596
1,2021-02-17 00:01:00,20.500000,44.099998,355.0,0.910134,19.700001,10.700000,0.0,0.0,0.0,...,0.0,20.0,18.0,19.000,0.000,2.500000,0.000,0.00,0.000,0.000
2,2021-02-17 00:02:00,20.600000,44.299999,360.0,0.910134,19.799999,10.600000,0.0,0.0,0.0,...,0.0,20.0,18.0,19.000,0.000,3.000002,0.000,0.00,0.000,0.000
3,2021-02-17 00:03:00,20.600000,44.500000,359.0,0.908579,19.799999,10.400000,0.0,0.0,0.0,...,0.0,20.0,18.0,19.000,0.000,3.000002,0.000,0.00,0.000,0.000
4,2021-02-17 00:04:00,20.600000,44.500000,357.0,0.910134,19.799999,10.300000,0.0,0.0,0.0,...,0.0,20.0,18.0,19.000,0.000,3.000002,0.000,0.00,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41755,2021-03-17 23:55:00,20.400000,78.000000,470.0,0.313223,20.400000,31.500000,0.0,0.0,769.0,...,0.0,20.0,18.0,19.000,0.000,1.999998,0.000,0.00,0.000,0.000
41756,2021-03-17 23:56:00,20.400000,78.199997,471.0,0.314777,20.500000,31.400000,0.0,0.0,769.0,...,0.0,20.0,18.0,19.000,0.000,1.999998,0.000,0.00,0.000,0.000
41757,2021-03-17 23:57:00,20.500000,79.199997,468.0,0.315554,20.600000,31.299999,0.0,0.0,769.0,...,0.0,20.0,18.0,19.000,0.000,1.999998,0.000,0.00,0.000,0.000
41758,2021-03-17 23:58:00,20.600000,79.599998,471.0,0.316332,20.799999,31.200001,0.0,0.0,769.0,...,0.0,20.0,18.0,19.000,0.000,2.500000,0.000,0.00,0.000,0.000
41759,2021-03-17 23:59:00,20.600000,79.900002,476.0,0.316332,20.900000,31.100000,0.0,0.0,769.0,...,0.0,20.0,18.0,19.000,0.000,3.000002,0.000,0.00,0.000,0.000

In [50]:
pd.read_csv('./train_target/CASE_01.csv')

                     시간     rate
0   2021-02-18 00:00:00  0.50000
1   2021-02-19 00:00:00  0.66667
2   2021-02-20 00:00:00  0.60000
3   2021-02-21 00:00:00 -0.12500
4   2021-02-22 00:00:00  1.42857
5   2021-02-23 00:00:00  0.35294
6   2021-02-24 00:00:00  0.30435
7   2021-02-25 00:00:00  0.16667
8   2021-02-26 00:00:00  0.22857
9   2021-02-27 00:00:00  0.32558
10  2021-02-28 00:00:00  0.31579
11  2021-03-01 00:00:00  0.30667
12  2021-03-02 00:00:00  0.26531
13  2021-03-03 00:00:00  0.34677
14  2021-03-04 00:00:00  0.29341
15  2021-03-05 00:00:00  0.54630
16  2021-03-06 00:00:00  0.34132
17  2021-03-07 00:00:00  0.31473
18  2021-03-08 00:00:00  0.17148
19  2021-03-09 00:00:00  0.06667
20  2021-03-10 00:00:00  0.08152
21  2021-03-11 00:00:00  0.01131
22  2021-03-12 00:00:00 -0.00745
23  2021-03-13 00:00:00 -0.01752
24  2021-03-14 00:00:00 -0.02803
25  2021-03-15 00:00:00 -0.07995
26  2021-03-16 00:00:00  0.01567
27  2021-03-17 00:00:00 -0.00281
28  2021-03-18 00:00:00 -0.07032