In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

from matplotlib import rc
import matplotlib.font_manager as fm

In [2]:
user_loan = pd.read_csv('C:/Users/김다은/Desktop/2022빅콘테스트_데이터분석리그_데이터분석분야_퓨처스부문_데이터셋_220908/user_loan.csv')

In [3]:
appliedNan = pd.isna(user_loan['is_applied'])

both = user_loan[appliedNan == False]
yes = user_loan[user_loan['is_applied'] == 1]
no = user_loan[user_loan['is_applied'] == 0]
nan = user_loan[appliedNan]

In [59]:
df = both[['user_id', 'birth_year', 'company_enter_month', 'credit_score', 'yearly_income', 'desired_amount', 'houseown_type', 'existing_loan_amt', 'personal_rehabilitation_yn', 'bank_id', 'product_id', 'loan_limit', 'loan_rate', 'is_applied']]

In [6]:
both.columns

Index(['application_id', 'user_id', 'birth_year', 'gender', 'insert_time',
       'credit_score', 'yearly_income', 'income_type', 'company_enter_month',
       'employment_type', 'houseown_type', 'desired_amount', 'purpose',
       'personal_rehabilitation_yn', 'personal_rehabilitation_complete_yn',
       'existing_loan_cnt', 'existing_loan_amt', 'loanapply_insert_time',
       'bank_id', 'product_id', 'loan_limit', 'loan_rate', 'is_applied'],
      dtype='object')

In [60]:
DF = df[(df['yearly_income']==0) & (df['houseown_type'] == '기타가족소유') & (df['personal_rehabilitation_yn'] != 1)]

In [61]:
DF.dropna(subset = ['credit_score'], inplace=True)

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [67]:
DF = DF.sort_values('credit_score')
DF

,user_id,birth_year,company_enter_month,credit_score,yearly_income,desired_amount,houseown_type,existing_loan_amt,personal_rehabilitation_yn,bank_id,product_id,loan_limit,loan_rate,is_applied
1472294,790175,1982.0,NaN,250.0,0.0,100000000.0,기타가족소유,134000000.0,NaN,29,265,10000000.0,8.4,0.0
1472292,790175,1982.0,NaN,250.0,0.0,100000000.0,기타가족소유,134000000.0,NaN,13,123,6000000.0,17.6,0.0
1472291,790175,1982.0,NaN,250.0,0.0,100000000.0,기타가족소유,134000000.0,NaN,42,249,7000000.0,11.9,0.0
1472290,790175,1982.0,NaN,250.0,0.0,100000000.0,기타가족소유,134000000.0,NaN,55,25,18000000.0,13.1,0.0
1472289,790175,1982.0,NaN,250.0,0.0,100000000.0,기타가족소유,134000000.0,NaN,21,196,10000000.0,10.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10304453,505633,1988.0,202003.0,1000.0,0.0,30000000.0,기타가족소유,NaN,0.0,19,231,17000000.0,14.8,0.0
10304452,505633,1988.0,202003.0,1000.0,0.0,30000000.0,기타가족소유,NaN,0.0,34,215,5000000.0,14.9,0.0
4900971,505633,1988.0,202003.0,1000.0,0.0,30000000.0,기타가족소유,NaN,0.0,13,262,43000000.0,15.5,0.0
9862631,505633,1988.0,202003.0,1000.0,0.0,30000000.0,기타가족소유,NaN,0.0,3,152,30000000.0,9.9,1.0
7097704,565482,1984.0,202101.0,1000.0,0.0,30000000.0,기타가족소유,8000000.0,0.0,19,26,50000000.0,12.1,0.0

In [106]:
tmp = pd.concat([DF[DF['is_applied'] == 0].groupby('user_id').count()['is_applied'], DF[DF['is_applied'] == 1].groupby('user_id').count()['is_applied']], axis=1).fillna(0)

In [107]:
tmp.columns=[1, 0]
tmp['rate'] = tmp[0]/(tmp[1]+tmp[0])

In [108]:
tmp

            1    0      rate
user_id
454       9.0  3.0  0.250000
1216     22.0  0.0  0.000000
1525      7.0  0.0  0.000000
3511      1.0  0.0  0.000000
3698     22.0  0.0  0.000000
...       ...  ...       ...
875159   24.0  3.0  0.111111
876683    3.0  0.0  0.000000
876990    0.0  1.0  1.000000
877378   14.0  0.0  0.000000
878380   13.0  0.0  0.000000

[952 rows x 3 columns]

In [95]:
DF[DF['is_applied'] == 1].groupby('user_id').count()['is_applied']

user_id
454       3
7760      1
9030      1
9973      1
10044     2
         ..
870965    3
872721    2
874470    1
875159    3
876990    1
Name: is_applied, Length: 588, dtype: int64

In [89]:
res = pd.DataFrame()
for user in set(tmp['user_id']):
    res= pd.concat([res,tmp[tmp['user_id'] == user]['is_applied'].value_counts()])

In [90]:
res

        0
0.0   3.0
0.0  18.0
1.0   4.0
0.0   1.0
0.0   7.0
..    ...
0.0   7.0
0.0   2.0
1.0   1.0
0.0  33.0
1.0   1.0

[1402 rows x 1 columns]